<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <form method="post">
        <ul>
            </br></br>
            <h2>Selecione os números que desejar:</h2>
            </br></br>
            <li>
                <label>
                    Primeiro Número:
                    <input type="number" name="num1">
                </label>
                </br>
                <label>
                    Segundo Número:
                    <input type="number" name="num2">
                </label>
            </li>
            </br></br>
            <h2>Selecione a operação que desejar:</h2>
            </br></br>
            <li>
                <label>
                    Operação:
                    <select name="opmatematica"></br>
                </label>
                    <option hidden value="vazio">Selecione</option>
                    <option value="Soma">Soma</option>
                    <option value="Subtração">Subtração</option>
                    <option value="Multiplicação">Multiplicação</option>
                    <option value="Divisão">Divisão</option>
                </select>
            </li>
            </br></br>
            <li>
                <input type="submit" name="Enviar">
            </li>
        </ul>
    </form>
</body>
</html>